[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Josh Evans
	email = roguescholar42@gmail.com
[color]
	ui = auto
[init]
	defaultBranch = main
