set linenumbers
set autoindent
set trimblanks
set mouse
set numbercolor cyan
set functioncolor cyan
set keycolor cyan
{{ if eq chezmoi.os "darwin" }}
include /usr/local/share/nano/*.nanorc
{{ else }}
include "/usr/share/nano/*.nanorc"
{{ end }}